{% extends "bootstrap/base.html" %}
{% block title %}
Extensible Laser Firing System
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='elfs.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script language="JavaScript">
function SSE() {
    var targetContainer = document.getElementById("target_div");
    var eventSource = new EventSource("/controller")
    eventSource.onmessage = function(e) {
        targetContainer.innerHTML = e.data;
    };
}
$(window).on('load', SSE());  

// adjust target height to match width
$(window).on('load', function() {
    var cw = $('.elftarget').width();
    $('.elftarget').css({'height': cw+'px'});
});

</script>
{% endblock %}

{% block content %}

<h1 class="text-center"><img src="static/logo.png" alt="logo" width="10%" height="auto"> Extensible Laser Firing System</h1>

<div class="row">
    <div class="col-md-3"><div class="col-md-12 align-middle text-center elftarget" id="target0">0</div></div>
    <div class="col-md-3"><div class="col-md-12 align-middle text-center elftarget" id="target1">0</div></div>
    <div class="col-md-3"><div class="col-md-12 align-middle text-center elftarget" id="target2">0</div></div>
    <div class="col-md-3"><div class="col-md-12 align-middle text-center elftarget" id="target3">0</div></div>
</div>

<div id="target_div">Watch this space...</div>

{% endblock %}

