{% extends "bootstrap/base.html" %}
{% block title %}
Extensible Laser Firing System
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='elfs.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script language="JavaScript">
function SSE() {
    var timerContainer = document.getElementById("timer");
    var eventSource = new EventSource("/controller")
    eventSource.onmessage = function(e) {
        timer.innerHTML = e.data;
    };
}
$(window).on('load', SSE());  

// adjust target height to match width
$(window).on('load', function() {
    var cw = $('.elfs-target').width();
    $('.elfs-target').css({'height': cw+'px'});
});

</script>
{% endblock %}

{% block content %}

<h1 class="text-center"><img src="static/logo.png" alt="logo" width="10%" height="auto"> Extensible Laser Firing System</h1>

<div class="row">
    <div class="col-sm-3"><div class="col-sm-12 align-middle text-center elfs-target" id="target0">0</div></div>
    <div class="col-sm-3"><div class="col-sm-12 align-middle text-center elfs-target" id="target1">0</div></div>
    <div class="col-sm-3"><div class="col-sm-12 align-middle text-center elfs-target" id="target2">0</div></div>
    <div class="col-sm-3"><div class="col-sm-12 align-middle text-center elfs-target" id="target3">0</div></div>
</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active text-center elfs-mode" id="practice-mode">
        <a href="#practice-content" data-toggle="tab">Practice</a>
    </li>
    <li role="presentation" class="text-center elfs-mode" id="timed-mode">
        <a href="#timed-content" data-toggle="tab">Timed</a>
    </li>
    <li role="presentation" class="text-center elfs-mode" id="countdown-mode">
        <a href="#countdown-content" data-toggle="tab">Countdown</a>
    </li>
</ul>

<div class="tab-content">
    <div id="practice-content" class="tab-pane fade in active elfs-mode-desc">
        Click start to practice. Click Stop to end practice.
    </div>
      
    <div id="timed-content" class="tab-pane fade in elfs-mode-desc">
        Set the a timer count down and hit as many targets as possible.
    </div>

    <div id="countdown-content" class="tab-pane fade in elfs-mode-desc">
        Each target has a count down timer.
    </div>
</div>

<div class="row">
    <div class="col-sm-4"><div class="col-sm-12 align-middle text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default elfs-button elfs-button-start">Start</button>
            <button type="button" class="btn btn-default elfs-button elfs-button-stop">Stop</button>
        </div>
    </div></div>
    <div class="col-sm-4"><div class="col-sm-12 align-middle text-center elfs-timer">
        Timer<div id="timer">00:00</div>
    </div></div>
    <div class="col-sm-4"><div class="col-sm-12 align-middle text-center elfs-score">
        Score<div id="score">0</div>
    </div></div>
</div>

{% endblock %}

