{% extends "bootstrap/base.html" %}
{% block title %}
Extensible Laser Firing System
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='elfs.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script language="JavaScript">

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


// database
DB = {{ db|tojson|safe }}

// update chart
function updateChart() {
    var name = $("#user option:selected").attr("value");
    var chosenMode = $("ul#elfs-nav-tabs li.active").attr("id")
    console.log("updating to user " + name);
    console.log("updating to mode " + chosenMode);
}

// initial function
function init() {
    for (name in DB) {
        $("#user").append("<option value=\"" + name + "\">" + name + "</option>");
    }
    $("#user").change(updateChart);
    $('a[data-toggle="tab"]').on('shown.bs.tab', updateChart);
    updateChart();
}

// autoload these functions
$(document).ready(init);
</script>

<script src="static/Chart.min.js"></script>
{% endblock %}

{% block content %}

<h1 class="text-center"><img src="static/logo.png" alt="logo" width="8%" height="auto"> Extensible Laser Firing System</h1>
<div class="elfs-setting">
    <label for="user">User</label>
    <select id="user">
    </select>
</div>
<ul class="nav nav-tabs" id="elfs-nav-tabs">
    <li role="presentation" class="active text-center elfs-mode" id="practice">
        <a href="#practice" data-toggle="tab">Practice</a>
    </li>
    <li role="presentation" class="text-center elfs-mode" id="timed">
        <a href="#timed" data-toggle="tab">Timed</a>
    </li>
    <li role="presentation" class="text-center elfs-mode" id="countdown">
        <a href="#countdown" data-toggle="tab">Countdown</a>
    </li>
</ul>

<div class="tab-content">
    <div id="practice" class="tab-pane fade in active elfs-mode-desc">
        <div>Practice mode</div>
    </div>
      
    <div id="timed" class="tab-pane fade in elfs-mode-desc">
        <div>Timed mode</div>
    </div>

    <div id="countdown" class="tab-pane fade in elfs-mode-desc">
        <div>Count down</div>
    </div>
</div>

<div>
<canvas id="chart" width="400" height="200"></canvas>
</div>

{% endblock %}

