.elftarget {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: lightgray;
    font-size: 600%;
    line-height: 400%;
}

body {
    padding-left: 20px;
    padding-right: 20px;
}
